<div class="navbar navbar-duomi navbar-static-top" role="navigation">
	<div class="container-fluid">
        	<div class="navbar-header">
                	<a class="navbar-brand" href="/Admin/index.html" id="logo">Logo
                	</a>
            	</div>
        </div>
</div>
<div class="container-fluid">
        <div class="row">
                <ul id="main-nav" class="nav nav-tabs nav-stacked" style="">
			<!--
              		<li class="active">
                      		<a href="/index/">
                       			<i class="glyphicon glyphicon-th-large"></i>
					首页
                        	</a>
                    	</li>
			-->
			<li>
                                <a href="#database" class="nav-header collapsed" data-toggle="collapse"> 配置被动监控</a>
                                <ul id="database" class="nav nav-list collapse secondmenu" style="height: 0px;">
                                        <li><a href="/all/">ALL</a></li>
                                        <li><a href="/EarlyWarning/">EaryWarning</a></li>
                                </ul>
                        </li>
			<!--
                    	<li>
                       		<a href="#systemSetting" class="nav-header collapsed" data-toggle="collapse">
                       			<i class="glyphicon glyphicon-cog"></i>
                       			采集情况
                      			<span class="pull-right glyphicon glyphicon-chevron-down"></span>
               			</a>
                       		<ul id="systemSetting" class="nav nav-list collapse secondmenu" style="height: 0px;">
                            		<li><a href="/monitor/running/"><i class="glyphicon glyphicon-user"></i>正在采集</a></li>
					<li><a href="/monitor/"><i class="glyphicon glyphicon-user"></i>全部采集</a></li>
                            		<li><a href="/monitor/tuesday/"><i class="glyphicon glyphicon-th-list"></i>周二采集</a></li>
                            		<li><a href="/monitor/wednesday/"><i class="glyphicon glyphicon-asterisk"></i>周三采集</a></li>
                       			<li><a href="/monitor/thursday/"><i class="glyphicon glyphicon-edit"></i>周四采集</a></li>
                       			<li><a href="/monitor/monthly/"><i class="glyphicon glyphicon-eye-open"></i>月更新采集</a></li>
                      		</ul>
               		</li>
 
                    	<li>
				<a href="#export" class="nav-header collapsed" data-toggle="collapse">
                                        <i class="glyphicon glyphicon-cog"></i>
                                        数据导出
                                        <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                                </a>
				<ul id="export" class="nav nav-list collapse secondmenu" style="height: 0px;">
                                        <li><a href="/compare/daily/"><i class="glyphicon glyphicon-user"></i>日更新</a></li>
                                        <li><a href="/compare/tuesday/"><i class="glyphicon glyphicon-th-list"></i>周二更新</a></li>
                                        <li><a href="/compare/wednesday/"><i class="glyphicon glyphicon-asterisk"></i>周三更新</a></li>
                                        <li><a href="/compare/thursday/"><i class="glyphicon glyphicon-edit"></i>周四更新</a></li>
                                        <li><a href="/compare/monthly/"><i class="glyphicon glyphicon-eye-open"></i>月更新更新</a></li>
					<li><a href="/compare/2015Q2/"><i class="glyphicon glyphicon-eye-open"></i>2015Q2</a></li>
					<li><a href="/compare/2015Q3/"><i class="glyphicon glyphicon-eye-open"></i>2015Q3</a></li>
					<li><a href="/compare/2015Q4/"><i class="glyphicon glyphicon-eye-open"></i>2015Q4</a></li>
					<li><a href="/compare/2016Q1/"><i class="glyphicon glyphicon-eye-open"></i>2016Q1</a></li>
					<li><a href="/compare/2016Q2/"><i class="glyphicon glyphicon-eye-open"></i>2016Q2</a></li>
                                </ul>
               		</li>
 			<li>
                                <a href="/fileslist/">
                                        <i class="glyphicon glyphicon-credit-card"></i>
                                        接口文件状态
                                </a>
                        </li>
                    	<li>
                        	<a href="#database" class="nav-header collapsed" data-toggle="collapse">
                        		<i class="glyphicon glyphicon-calendar"></i>
                        		数据库操作
                        	</a>
				<ul id="database" class="nav nav-list collapse secondmenu" style="height: 0px;">
					<li><a href="/transfer/"><i class="glyphicon glyphicon-user"></i>转连接</a></li>	
					<li><a href="/rename/"><i class="glyphicon glyphicon-user"></i>停止WORK</a></li>
					<li><a href="/list/supervisory/"><i class="glyphicon glyphicon-user"></i>列表页监控</a></li>
				</ul>
                    	</li>
                    	<li>
                        	<a href="#">
                        		<i class="glyphicon glyphicon-fire"></i>
                           		 关于系统
                        	</a>
                    	</li>
			-->
                </ul>            
        </div>
</div>
